Package             Version
------------------- -------
asgiref             3.2.10 
Django              3.0.4  
djangorestframework 3.11.0 
importlib-metadata  1.7.0  
Markdown            3.2.2  
pip                 10.0.1 
python-decouple     3.3    
pytz                2020.1 
setuptools          39.0.1 
sqlparse            0.3.1  
zipp                3.1.0  
