{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }}</title>
    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static "frontend/index.css" %}" />
    <link rel="stylesheet" href="{% static "frontend/style-tailwind.css" %}" />
    <!-- Font-awesom custom font -->

    <script src="https://kit.fontawesome.com/f65742b227.js" crossorigin="anonymous"></script>

  </head>
  <body>
    <div id="app" class="pt-5 px-5">
      <!--React loads here-->
    </div>
  </body>
    <script src="{% static "frontend/main.js" %}"></script>
</html>
